body {
  background-color: #7F167F;
}

.app {
  background-color: #FFFBF5;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
  border-radius: 20px;
}

.container {
  display: flex;
  justify-content: center;
}

.containertwo {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.crossed {
  text-decoration: line-through 2px red;
  background-color: #EEE9DA;
}
h1, ul, li {
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
}

h1 {
  color: #80489C;
  font-size: 50px;
}

ul, li {
  padding: 8px;
  margin: 5px 20px ;
  list-style-type: none;
  font-size: 28px;

}

input {
  flex: 1;
  margin: 10px;
  padding: 8px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 7px;
}


.img-todo {
  border-radius: 70%;
  margin: 20px 0 20px 0;
}



.add, .del{
  width: 80%;
  padding: 10px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white;
  border-radius: 7px;
  
}

.add {
  background-color: #1F8A70;
}
.del {
  background-color: #D61355;
}